{{outlet}}
<form>
    <div class="form-group">
        <label>title</label>
        {{input type="text" class="form-control" value=title placeholder="Add title"}}

    </div>
        <div class="form-group">
        <label>title</label>
        {{input type="date" class="form-control" value=date }}
        
    </div>
        <div class="form-group">
        <label>description</label>
        {{textarea type="text" class="form-control" value=description placeholder="Add description"}}
        
    </div>
   <button {{action 'addtask'}}class="btn btn-primary">submit</button>
</form>